.btn, .more-link {
  display: block;
  text-align: center;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 0;
  border: 2px solid #000;
  background: none;
  font: 700 12px $font-content;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover, &.active-btn {
    border: 2px solid $color-primary;
    background-color: $color-primary;
    outline: none;
    text-decoration: none;
    color: #000;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .btn, .more-link {
    width: 150px;
    height: 50px;
    padding: 15px;
    font-size: 13px;
  }
}