.btn, .more-link {
  display: block;
  text-align: center;
  width: 120px;
  height: 60px;
  margin: 20px 0 0;
  border-radius: 0;
  border: none;
  background: $color-second;
  font: 700 24px $font-primary;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover, &.active-btn {
    background-color: $color-primary;
    outline: none;
    text-decoration: none;
    color: #fff;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .btn, .more-link {
    width: 150px;
    height: 50px;
  }
}