.comments {
  .title {
    p {
      margin-bottom: 0;
    }
  }
  padding-top: 60px;
  .comment-body {
    padding: 40px 0 50px;
    border-bottom: 1px solid #e6e9ee;
  }
  .comments-replay {
    margin-left: 15%;
    border-bottom: none;
  }
  .comment-author {
    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }
  .author, time {
    font: 600 13px/24px $font-content;
    text-transform: uppercase;
    color: #000;
  }
  time {
    color: $color-primary;
  }
  p {
    margin: 15px 0 35px;
  }
  .reply {
    margin-bottom: 10px;
  }
  .comment-reply-link {
    padding: 10px 11px;
    text-align: center;
    border: 1px solid  $color-primary;
    border-radius: 50%;
    font-size: 13px;
    color: $color-primary;
    &:hover {
      background-color: $color-primary;
      color: #000;
    }
  }
  .comment-edit-link, .comment-awaiting-moderation {
    font: 600 12px/24px $font-content;
    text-transform: uppercase;
    color: #000;
  }
  .children {
    width: 85%;
    float: right;
  }
}