.slider-hero {
  .slick-dots {
    li {
      padding: 0 2px;
      button {
        width: 16px;
        height: 4px;
        padding: 0;
        background-color: #fff;
        transition: 0.2s all ease-out;
        cursor: pointer;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
  .slick-dots li button:before {
    content: '';
  }
  .slick-dots li.slick-active button {
    background-color: $color-primary;
  }
  .slick-prev, .slick-next {
    z-index: 5;
  }
  .slick-prev{
    left: -5px;
    &:before{
      content: '\f053';
      font-size: 30px;
      font-family: FontAwesome;
    }
  }
  .slick-next {
    right: -5px;
    &:before {
      content: '\f054';
      font-size: 30px;
      font-family: FontAwesome;
    }
  }
}

.slick-slide:focus { outline: none; }