.site-footer {
  .footer-logo {
    padding: 30px 0;
    text-align: center;
    background: #17212a;
  }
  .copy {
    display: block;
    padding: 20px 0;
    text-align: center;
    background: $color-second;
    font: 300 18px $font-primary;
    text-transform: none;
    color: #fff;
  }
}

@media only screen and (min-width: 992px) {

}