.site-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 0 35px;
  border-bottom: 1px solid rgba(221,228,234,.15);
  color: #fff;
  z-index: 10;
  .logo {
    float: left;
    overflow: hidden;
  }
  p {
    color: #fff;
  }
}
.main-nav {
  float: right;
  .nav-btn {
    background: transparent;
    margin: 15px 15px 0;
    border: none;
    font-size: 25px;
    color: #fff;
    transition: 0.3s all ease-out;
    z-index: 10;
    &:hover {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
  .remove-btn {
    display: none;
  }
  .navigation {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    padding: 20vh 0 0;
    z-index: -1;
    li.current-menu-item a {
      color: $color-primary;
    }
    li {
      margin: 5vh 0;
    }
    a {
      text-transform: uppercase;
      font: 700 16px $font-primary;
      color: #fff;
      transition: 0.3s all ease-out;
      &:hover {
        text-decoration: none;
        color: $color-primary;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .site-header {
    .nav-header {
      display: inline;
    }
  }
  .main-nav {
    .nav-btn {
      display: none;
    }
    .navigation {
      display: flex;
      position: relative;
      width: auto;
      height: auto;
      background-color: transparent;
      top: auto;
      left: auto;
      padding: 20px 0 0;
      z-index: 1;
      li {
        margin: 0;
        padding: 0 10px;
        a {
          font-size: 14px;
        }
        &:last-child {
          padding-right: 0;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-nav {
    .navigation {
      li {
        padding: 0 15px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-nav {
    .navigation {
      li {
        padding: 0 20px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}