.hero {
  background: $color-second;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  top: 0;
  color: #fff;
  z-index: 1;
  .bg-hero {
    text-align: center;
  }
  img {
    width: 70%;
  }
  .intro-hero {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    h2 {
      margin: 30px 0;
      font: 700 30px $font-primary;
      text-transform: uppercase;
    }
    h3 {
      font: 400 24px $font-primary;
      text-transform: none;
    }
    .num-clients {
      font: 400 20px $font-primary;
      text-transform: none;
      color: #fff;
    }
    p {
      margin: 30px 0;
      font: 300 18px $font-primary;
    }
    .more-link {
      margin: 0 auto;
    }
  }
  .slider-hero {
    padding: 100px 0 70px;
  }
  .scroll {
    position: absolute;
    display: block;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    &:after {
      position: absolute;
      display: block;
      content: '\f078';
      font-family: FontAwesome;
      line-height: 24px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      z-index: 100;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    .intro-hero {
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    .intro-hero {
      h3 {
        font-size: 45px;
      }
      .num-clients {
        font-size: 30px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}