.services {
  .services-category {
    text-align: center;
  }
  .services-title {
    padding: 10px 0 20px;
    a {
      color: #000;
    }
  }
  .services-icon {
    margin: 0 auto 20px;
    img {
      width: 50%;
      height: auto;
    }
  }
}