article {
  border-bottom: 1px solid #e6e9ee;
}

.single {
  article {
    border-bottom: none;
  }
}
.avatar-blog {
  img {
    width: 100%;
    height: auto;
  }
}
h3 a {
  font: 600 18px/24px $font-primary;
  color: #000;
}
span {
  font: 600 13px/24px $font-content;
  text-transform: uppercase;
  color: #757575;
}
.cover {
  /*height: 30vh;*/
  margin: 25px 0;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
    /*transform: translateX(0) translateY(-10%);*/
  }
}
p {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
}